<tr>
  <td class="w-48 hover:bg-gray-200 p-2 flex flex-col space-y-1">
    <div key="2" class="flex space-x-2">
      <span>item.id.pName</span>
      <span>item.quantitiy x</span>
    </div>
  </td>
  <td class="p-2 text-left">
    <img key={index} class="w-12 h-12 object-cover" src="/uploads/products/234" alt="Pic" />
  </td>
  <td class="p-2 text-center">
    <span class="block text-red-600 rounded-full text-center text-xs px-2 font-semibold">
      order.status
    </span>
    <span class="block text-yellow-600 rounded-full text-center text-xs px-2 font-semibold">
      order.status
    </span>
    <span class="block text-blue-600 rounded-full text-center text-xs px-2 font-semibold">
      order.status
    </span>
    <span class="block text-green-600 rounded-full text-center text-xs px-2 font-semibold">
      order.status
    </span>
    <span class="block text-red-600 rounded-full text-center text-xs px-2 font-semibold">
      order.status
    </span>
  </td>
  <td class="p-2 text-center">order.address</td>
  <td class="p-2 text-center">
    moment(order.createdAt).format("lll")
  </td>
</tr>