<div class="flex justify-between font-medium">
  <div class="flex items-center space-x-1 cursor-pointer text-yellow-700">
    <span class="text-md md:text-lg hover:text-yellow-700">
      Categories
    </span>
    <svg class="w-4 h-4 text-yellow-700" fill="none" stroke="currentColor" viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg">
      <path strokeLinecap="round" strokeLinejoin="round" strokeWidth="2" d="M19 9l-7 7-7-7"></path>
    </svg>
  </div>
  <div class="flex space-x-2">
    <div class="flex items-center space-x-1 cursor-pointer text-yellow-700">
      <span class="text-md md:text-lg">Filter</span>
      <span>
        <svg class="w-4 h-4 text-yellow-700" fill="none" stroke="currentColor" viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg">
          <path strokeLinecap="round" strokeLinejoin="round" strokeWidth="2"
            d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4">
          </path>
        </svg>
      </span>
    </div>
    <span>/</span>
    <div class="flex items-center space-x-1 cursor-pointer text-yellow-700">
      <span class="text-md md:text-lg">Search</span>
      <span>
        <svg class="w-4 h-4 text-yellow-700" fill="none" stroke="currentColor" viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg">
          <path strokeLinecap="round" strokeLinejoin="round" strokeWidth="2"
            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
        </svg>
      </span>
    </div>
  </div>
</div>
<div class="my-4">
  <hr />
  <div class="py-1 grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
    <div class="col-span-1 m-2 flex flex-col items-center justify-center space-y-2 cursor-pointer">
      <img src="https://loremflickr.com/g/320/240/furniture?random=1" alt="pic" />
      <div class="font-medium">item.cName</div>
    </div>
    <div class="col-span-1 m-2 flex flex-col items-center justify-center space-y-2 cursor-pointer">
      <img src="https://loremflickr.com/g/320/240/furniture?random=1" alt="pic" />
      <div class="font-medium">item.cName</div>
    </div>
    <div class="col-span-1 m-2 flex flex-col items-center justify-center space-y-2 cursor-pointer">
      <img src="https://loremflickr.com/g/320/240/furniture?random=1" alt="pic" />
      <div class="font-medium">item.cName</div>
    </div>
    <div class="col-span-1 m-2 flex flex-col items-center justify-center space-y-2 cursor-pointer">
      <img src="https://loremflickr.com/g/320/240/furniture?random=1" alt="pic" />
      <div class="font-medium">item.cName</div>
    </div>
    <div class="hidden text-xl text-center my-4">No Category</div>
  </div>
</div>
<div class="my-4">
  <hr />
  <div class="hidden w-full flex flex-col">
    <div class="font-medium py-2">Filter by price</div>
    <div class="flex justify-between items-center">
      <div class="flex flex-col space-y-2  w-2/3 lg:w-2/4">
        <label htmlFor="points" class="text-sm">
          Price (between 0 and 10$):
          <span class="font-semibold text-yellow-700">5.00$</span>
        </label>
        <input value="5" class="slider" type="range" id="points" min="0" max="1000" step="10" />
      </div>
      <div class="cursor-pointer">
        <svg class="w-8 h-8 text-gray-700 hover:bg-gray-200 rounded-full p-1" fill="none" stroke="currentColor"
          viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M6 18L18 6M6 6l12 12" />
        </svg>
      </div>
    </div>
  </div>
</div>
<div class="hidden my-4 flex items-center justify-between">
  <input value="" placeholder="Search products..." />
  <div class="cursor-pointer">
    <svg class="w-8 h-8 text-gray-700 hover:bg-gray-200 rounded-full p-1" fill="none" stroke="currentColor"
      viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path strokeLinecap="round" strokeLinejoin="round" strokeWidth="2" d="M6 18L18 6M6 6l12 12" />
    </svg>
  </div>
</div>