/.metadata/
# Ignore target directory, where the built application is stored
/target/*

# Ignore Maven and Gradle build files
# Maven
*.iml
.idea/
*.ipr
*.iws

# Gradle
.gradle/
build/

# Ignore the application properties file that contains sensitive information
/src/main/resources/application.properties

# Ignore Eclipse-specific files
.classpath
.project
.settings/

# Ignore Visual Studio Code specific files
.vscode/

# Ignore any log files
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore test results
/test-results/
