<section *ngIf="product$ | async as product" class="m-4 md:mx-12 md:my-6">
  <div class="flex items-center text-sm space-x-2 mb-4">
    <span routerLink="/home" class="hover:text-yellow-700 cursor-pointer">Shop</span>
    <svg class="w-3 h-3" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5l7 7-7 7M5 5l7 7-7 7"></path>
    </svg>
    <span [routerLink]="['/category/'+product.category.categoryId]"
      class="hover:text-yellow-700 cursor-pointer">{{product.category.categoryName}}</span>
    <svg class="w-3 h-3" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5l7 7-7 7M5 5l7 7-7 7"></path>
    </svg>
    <span class="text-yellow-700 cursor-default">{{product.productName}}</span>
  </div>
  <div class="grid grid-cols-2 md:grid-cols-12">
    <div class="col-span-2 md:col-span-7">
      <div class="relative">
        <img class="w-full" [src]="getPath(product.imageUrl)" alt="Pic" />
      </div>
    </div>
    <div class="col-span-2 mt-8 md:mt-0 md:col-span-4 md:ml-6 lg:ml-12">
      <div class="flex flex-col leading-8">
        <div class="text-2xl tracking-wider">{{product.productName}}</div>
        <div class="flex justify-between items-center">
          <span class="text-xl tracking-wider text-yellow-700">
            {{product.price|currency}}
          </span>
          <span>
            <svg (click)="isWishReq()" class="hidden w-5 h-5 md:w-6 md:h-6 cursor-pointer text-yellow-700" fill="none"
              stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path strokeLinecap="round" strokeLinejoin="round" strokeWidth="2"
                d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
            </svg>
            <svg (click)="unWishReq()" class="hidden w-5 h-5 md:w-6 md:h-6 cursor-pointer text-yellow-700"
              fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fillRule="evenodd"
                d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"
                clipRule="evenodd" />
            </svg>
          </span>
        </div>
      </div>
      <div class="my-4 md:my-6 text-gray-600">
        {{product.description}}
      </div>
      <div class="my-4 md:my-6">
        <span *ngIf="isStockFull(product.stockQuantity)" class="text-xs text-red-500">
          Stock limited
        </span>
        <div [ngClass]="{'border-red-500': isStockFull(product.stockQuantity)}"
          class="flex justify-between items-center px-4 py-2 border ">
          <div [ngClass]="{'text-red-500': isStockFull(product.stockQuantity)}">
            Quantity
          </div>
          <div class="flex items-center space-x-2">
            <span (click)="decreaseQuantity(product.stockQuantity)">
              <svg class="w-5 h-5 fill-current cursor-pointer" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path fillRule="evenodd"
                  d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                  clipRule="evenodd" />
              </svg>
            </span>
            <span class="font-semibold">{{ quantity }}</span>
            <span (click)="increaseQuantity(product.stockQuantity)">
              <svg class="w-5 h-5 fill-current cursor-pointer" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path fillRule="evenodd"
                  d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                  clipRule="evenodd" />
              </svg>
            </span>
          </div>
        </div>
      </div>
      <div (click)="addToCart(product.productId)" style="background: #303031"
        class="px-4 py-2 text-white text-center cursor-pointer uppercase">
        Add to cart
      </div>
      <div *ngIf="isInCart(product.productId)" style="background: #303031" class="px-4 py-2 text-white text-center cursor-not-allowed
          uppercase opacity-75">
        In cart
      </div>
      <div *ngIf="isOutOfStock(product.stockQuantity)" style="background: #303031" disabled="true"
        class="px-4 py-2 text-white opacity-50 cursor-not-allowed text-center uppercase">
        Out of stock
      </div>
    </div>
  </div>
</section>