<section class="fixed z-40 inset-0 my-8 md:my-20 flex items-start justify-center overflow-auto">
  <div class="w-11/12 md:w-3/5 lg:w-2/4 relative space-y-4 bg-white p-6 md:px-12 md:py-6">
    <h1 class="text-center text-2xl mb-6">Register</h1>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" autocomplete="off" class="flex flex-col space-y-4">
      <div class="flex flex-col">
        <label for="Email" class="form-label">Email<span class="text-sm text-red-600 ml-1">*</span></label>
        <input type="text" class="form-control" formControlName="email"
          [ngClass]="{'border-red-500':registerFormControl.email.errors}" class="px-4 py-2 border" />
        <span class="text-red-600" *ngIf="
                      (registerFormControl.email.touched || submitted) &&
                      registerFormControl.email.errors?.['required']">
          Email is required
        </span>
        <span class="text-red-600" *ngIf="
                      registerFormControl.email.touched &&
                      registerFormControl.email.errors?.['email']">
          Enter a valid email address
        </span>
      </div>
      <div class="flex flex-col">
        <label for="Name" class="form-label">Full Name<span class="text-sm text-red-600 ml-1">*</span></label>
        <input type="text" class="form-control" formControlName="fullname"
          [ngClass]="{'border-red-500':registerFormControl.fullname.errors}" class="px-4 py-2 border" />
        <span class="text-red-600" *ngIf="
                            (registerFormControl.fullname.touched || submitted) &&
                            registerFormControl.fullname.errors?.['required']">
          Name is required
        </span>
      </div>
      <div class="flex flex-col">
        <label for="User Name" class="form-label">User Name<span class="text-sm text-red-600 ml-1">*</span></label>
        <input type="text" class="form-control" formControlName="username"
          [ngClass]="{'border-red-500':registerFormControl.username.errors}" class="px-4 py-2 border" />
        <span class="text-red-600" *ngIf="
                      (registerFormControl.username.touched || submitted) &&
                      registerFormControl.username.errors?.['required']">
          User Name is required
        </span>
        <span class="text-red-600" *ngIf="
                      registerFormControl.username.touched &&
                      registerFormControl.username.errors?.['userNameNotAvailable']
                    ">
          User Name is not available
        </span>
      </div>
      <div class="flex flex-col">
        <label for="Password" class="form-label">Password<span class="text-sm text-red-600 ml-1">*</span></label>
        <input type="password" class="form-control" formControlName="password"
          [ngClass]="{'border-red-500':registerFormControl.password.errors}" class="px-4 py-2 border" />
        <span class="text-red-600" *ngIf="
                      (registerFormControl.password.touched || submitted) &&
                      registerFormControl.password.errors?.['required']">
          Password is required
        </span>
        <span class="text-red-600" *ngIf="
                      registerFormControl.password.touched &&
                      registerFormControl.password.errors?.['invalidPassword']">
          Password should have minimum 8 characters, at least 1 uppercase
          letter, 1 lowercase letter and 1 number
        </span>
      </div>
      <div class="flex flex-col">
        <label for="Confirm Password" class="form-label">Confirm Password<span
            class="text-sm text-red-600 ml-1">*</span></label>
        <input type="password" class="form-control" formControlName="confirmPassword"
          [ngClass]="{'border-red-500':registerFormControl.confirmPassword.errors}" class="px-4 py-2 border" />
        <span class="text-red-600" *ngIf="
                      (registerFormControl.confirmPassword.touched || submitted) &&
                      registerFormControl.confirmPassword.errors?.['required']">
          Confirm Password is required
        </span>
        <span class="text-red-600" *ngIf="
                      registerFormControl.confirmPassword.touched &&
                      registerFormControl.confirmPassword.errors?.['passwordMismatch']">
          Passwords doesnot match
        </span>
      </div>
      <button type="submit" style="background: #303031"
        class="font-medium px-4 py-2 text-white text-center cursor-pointer">Register
      </button>
      <button type="reset" (click)="resetForm()" style="color: #303031; border: 1px solid #303031"
        class="px-4 py-2 font-medium text-center cursor-pointer">
        Reset
      </button>
      <hr />
      <div routerLink="/login" style="color: #303031; border: 1px solid #303031"
        class="px-4 py-2 font-medium text-center cursor-pointer">
        Login
      </div>
    </form>

  </div>
</section>