<div class="m-4">
  <div class="col-span-1 overflow-auto bg-white shadow-lg p-4">
    <div class="text-2xl font-semibold mb-6 text-center">
      Today's Orders 5
    </div>
    <table class="table-auto border w-full my-2">
      <thead>
        <tr>
          <th class="px-4 py-2 border">Products</th>
          <th class="px-4 py-2 border">Image</th>
          <th class="px-4 py-2 border">Status</th>
          <th class="px-4 py-2 border">Order Address</th>
          <th class="px-4 py-2 border">Ordered at</th>
        </tr>
      </thead>
      <tbody>
        <ecommerce-dashboard-today-order-table>
        </ecommerce-dashboard-today-order-table>
        <tr>
          <td colSpan="5" class="text-xl text-center font-semibold py-8">
            No orders found today
          </td>
        </tr>
      </tbody>
    </table>
    <div class="text-sm text-gray-600 mt-2">
      Total 5 orders found
    </div>
    <div class="flex justify-center">
      <span style="background: #303031" class="cursor-pointer px-4 py-2 text-white rounded-full">
        View All
      </span>
    </div>
  </div>
</div>